<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Thermostat</title>
      <link type="text/css" rel="stylesheet" href="../public/style.css" />
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
      <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
      <script src="../src/thermostat.js"></script>
      <script src="../src/script.js"></script>
  </head>

  <body>
    <div class="container">
      <h1>My Thermostat</h1>
      <div class="row">
        <div class="left split col">
          <p>Current temp: <span class="temperature"></span>°C</p>
          <p>Power saving: on</p>
        </div>
        <div class="right split col">
          <div class="row" id="arrows">
            <div class="col">
              <button style='font-size:24px'><i class='far fa-arrow-alt-circle-up'></i></button>
            </div>
            <div class="col">
              <button style='font-size:24px'><i class='far fa-arrow-alt-circle-down'></i></button>
            </div>
          </div>
          <div class="row">
            <div class="col" id="tpsm">
              <button type="button" name="button">toggle power saving</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row energy-usage high">
        Energy Usage: <span id="energy-text"></span>
      </div>
    </div>

  </body>
</html>
