<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Thermostat</title>
      <link type="text/css" rel="stylesheet" href="../public/style.css" />
  </head>

  <body>
    <div class="container">
      <h1>My Thermostat</h1>
      <div class="row">
        <div class="left col">
          <p>Current temp: example</p>
          <p>Power saving: on</p>
          <p>Energy usage: medium</p>
        </div>
        <div class="right col">
          <div class="row">
            <div class="col">
              <button type="button" name="button">temperature up</button>
            </div>
            <div class="col">
              <button type="button" name="button">temperature down</button>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <button type="button" name="button">toggle power saving</button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
